<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="contract.dao.HtqsMapper" >
  <resultMap id="BaseResultMap" type="contract.pojo.Htqs" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="HTBH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="QS" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="JE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="YJSJ" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="SGYQ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SFSKWC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SKJE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="CREATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="SJ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SSFZR" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SSFZRID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="BZ" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, HTBH, QS, JE, YJSJ, SGYQ, SFSKWC, SKJE, CREATE_BY, UPDATE_BY, CREATE_TIME, UPDATE_TIME,
    SJ, SSFZR, SSFZRID ,BZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select
    <include refid="Base_Column_List" />
    from HTQS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from HTQS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="contract.pojo.Htqs" >
    insert into HTQS (ID, HTBH, QS,
      JE, YJSJ, SGYQ, SFSKWC,
      SKJE, CREATE_BY, UPDATE_BY,
      CREATE_TIME, UPDATE_TIME, SJ,SSFZR,SSFZRID,BZ
      )
    values (#{id,jdbcType=DECIMAL}, #{htbh,jdbcType=VARCHAR}, #{qs,jdbcType=DECIMAL},
      #{je,jdbcType=DECIMAL}, #{yjsj,jdbcType=TIMESTAMP}, #{sgyq,jdbcType=VARCHAR}, #{sfskwc,jdbcType=VARCHAR},
      #{skje,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{sj,jdbcType=VARCHAR}
      ,#{ssfzr,jdbcType=VARCHAR},
      #{ssfzrid,jdbcType=DECIMAL},
      ,#{bz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="contract.pojo.Htqs" >
    insert into HTQS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="htbh != null" >
        HTBH,
      </if>
      <if test="qs != null" >
        QS,
      </if>
      <if test="je != null" >
        JE,
      </if>
      <if test="yjsj != null" >
        YJSJ,
      </if>
      <if test="sgyq != null" >
        SGYQ,
      </if>
      <if test="sfskwc != null" >
        SFSKWC,
      </if>
      <if test="skje != null" >
        SKJE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="sj != null" >
        SJ,
      </if>
      <if test="ssfzr != null" >
        SSFZR,
      </if>
      <if test="ssfzrid != null" >
        SSFZRID,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="htbh != null" >
        #{htbh,jdbcType=VARCHAR},
      </if>
      <if test="qs != null" >
        #{qs,jdbcType=DECIMAL},
      </if>
      <if test="je != null" >
        #{je,jdbcType=DECIMAL},
      </if>
      <if test="yjsj != null" >
        #{yjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="sgyq != null" >
        #{sgyq,jdbcType=VARCHAR},
      </if>
      <if test="sfskwc != null" >
        #{sfskwc,jdbcType=VARCHAR},
      </if>
      <if test="skje != null" >
        #{skje,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sj != null" >
        #{sj,jdbcType=VARCHAR},
      </if>
      <if test="ssfzr != null" >
        #{ssfzr,jdbcType=VARCHAR},
      </if>
      <if test="ssfzrid != null" >
        #{ssfzrid,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="contract.pojo.Htqs" >
    update HTQS
    <set >
      <if test="htbh != null" >
        HTBH = #{htbh,jdbcType=VARCHAR},
      </if>
      <if test="qs != null" >
        QS = #{qs,jdbcType=DECIMAL},
      </if>
      <if test="je != null" >
        JE = #{je,jdbcType=DECIMAL},
      </if>
      <if test="yjsj != null" >
        YJSJ = #{yjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="sgyq != null" >
        SGYQ = #{sgyq,jdbcType=VARCHAR},
      </if>
      <if test="sfskwc != null" >
        SFSKWC = #{sfskwc,jdbcType=VARCHAR},
      </if>
      <if test="skje != null" >
        SKJE = #{skje,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sj != null" >
        SJ = #{sj,jdbcType=VARCHAR},
      </if>
      <if test="ssfzr != null" >
        SSFZR = #{ssfzr,jdbcType=VARCHAR},
      </if>
      <if test="ssfzrid != null" >
        SSFZRID = #{ssfzrid,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="contract.pojo.Htqs" >
    update HTQS
    set HTBH = #{htbh,jdbcType=VARCHAR},
      QS = #{qs,jdbcType=DECIMAL},
      JE = #{je,jdbcType=DECIMAL},
      YJSJ = #{yjsj,jdbcType=TIMESTAMP},
      SGYQ = #{sgyq,jdbcType=VARCHAR},
      SFSKWC = #{sfskwc,jdbcType=VARCHAR},
      SKJE = #{skje,jdbcType=DECIMAL},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      SJ = #{sj,jdbcType=VARCHAR},
      SSFZR = #{ssfzr,jdbcType=VARCHAR},
      SSFZRID = #{ssfzrid,jdbcType=DECIMAL},
      BZ = #{bz,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="query" resultMap="BaseResultMap" parameterType="string" >
    select
    <include refid="Base_Column_List" />
    from HTQS
    where HTBH = #{htbh,jdbcType=VARCHAR}
    order by YJSJ desc
  </select>

  <update id="updatezt">
    update HTQS
    set SFSKWC = #{htfqzt,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>
