<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="contract.dao.ReportMapper">
    <resultMap id="htxx" type="contract.pojo.Reportpage.ComplexHt">
        <constructor>
            <idArg column="ID" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="HTBH" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="QSRQ" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="FZR" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="YYMC" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="HTNR" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="HTNRHTNR" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="FKZQ" jdbcType="DECIMAL" javaType="java.lang.Long"/>
            <arg column="NYWFJE" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="NYWFSJ" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="XXKXM" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="XXKLXFS" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CWKXM" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CWKLXFS" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="YWDJR" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="YWDJRLXFS" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="SFSKWC" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="SKJE" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="HTSFDQ" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="HTZT" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="BZ" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="YYJB" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="DQSHENG" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="DQSHI" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="HTFL" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CREATE_BY" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="UPDATE_BY" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="FZRID" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="SSFZR" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="SSFZRID" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="HTQSRQ" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="HTZZRQ" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="YQTS" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="HTSYTS" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="HTMC" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="SFGB" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="SFJXFW" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="YJQYSJ" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="XMQKSM" jdbcType="VARCHAR" javaType="java.lang.String" />
        </constructor>
    </resultMap>
    <resultMap id="Chart1Map" type="contract.pojo.Reportpage.SignedContractFeeInfo">
        <constructor>
            <arg column="httime" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="count" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sum" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="avg" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="simpleht" type="contract.pojo.SimpHt">
        <constructor>
            <arg column="httime" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="htje" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="dqsheng" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="dqshi" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="simplehtqs" type="contract.pojo.SimpHtqs">
        <constructor>
            <arg column="httime" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ifsk" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="fkje" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="htbh" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="fzr" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ssfzr" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="fkhtxx" type="contract.pojo.Reportpage.FkhtSimpleInfo">
        <constructor>
            <arg column="httime" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ifsk" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="fkje" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="yymc" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="htbh" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="fzr" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="dqsheng" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="dqshi" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ssfzr" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="flmc" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="Chart9Map" type="contract.pojo.Reportpage.SignedContractTypeInfo">
        <constructor>
            <arg column="htfl" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="count" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sum" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="avg" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="HTQS" type="contract.pojo.Reportpage.ComplexHtqs" >
        <constructor >
            <idArg column="ID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
            <arg column="HTBH" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="QS" jdbcType="DECIMAL" javaType="java.lang.Long" />
            <arg column="JE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
            <arg column="YJSJ" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="SGYQ" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="SFSKWC" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="SKJE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
            <arg column="CREATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="UPDATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="SJ" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="SSFZR" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="SSFZRID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
            <arg column="BZ" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="flmc" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="sheng" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="shi" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="fzr" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="yymc" jdbcType="VARCHAR" javaType="java.lang.String" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    ID, HTBH, QSRQ, FZR, YYMC, HTNR, HTNRHTNR, FKZQ, NYWFJE, NYWFSJ, XXKXM, XXKLXFS,
    CWKXM, CWKLXFS, YWDJR, YWDJRLXFS, SFSKWC, SKJE, HTSFDQ, HTZT, BZ, YYJB, DQSHENG,
    DQSHI, HTFL, CREATE_BY, UPDATE_BY, CREATE_TIME, UPDATE_TIME, FZRID,SSFZR,SSFZRID,HTQSRQ,HTZZRQ,YQTS,HTSYTS,HTMC
    ,SFGB,SFJXFW,YJQYSJ,XMQKSM
  </sql>
    <sql id="clomn_htqs" >
    ID, HTBH, QS, JE, YJSJ, SGYQ, SFSKWC, SKJE, CREATE_BY, UPDATE_BY, CREATE_TIME, UPDATE_TIME,
    SJ, SSFZR, SSFZRID ,BZ
  </sql>

    <!--按月签署合同信息-->
    <select id="selectMonthHtInfo" resultMap="simpleht">
        select to_char(qsrq, 'YYYY-MM') as httime,htnrhtnr as htje,dqshi,dqsheng from ht
        where 1=1
        <if test="month != null and month != ''">
            and TO_CHAR(qsrq,'YYYY-MM') =  #{month,jdbcType=VARCHAR}
        </if>
        <if test="fzr != null and fzr != ''">
            and FZR = #{fzr,jdbcType=VARCHAR}
        </if>
        <if test="ssfzr != null and ssfzr != ''">
            and SSFZR = #{ssfzr,jdbcType=VARCHAR}
        </if>
        <if test="bmjl != null and bmjl != ''">
            and FZRID in (select ID from users where ssbm =(select ssbm from users where xm=#{bmjl,jdbcType=VARCHAR}) )
        </if>
    </select>
    <!--按月付款合同信息-->
    <select id="selectMonthFkInfo" resultMap="simplehtqs">
        select to_char(htqs.yjsj, 'YYYY-MM') as httime,htqs.SFSKWC as ifsk,htqs.JE as fkje,htqs.HTBH as htbh,ht.fzr as fzr,htqs.ssfzr
        from htqs left join ht on ht.htbh=htqs.htbh
        where 1=1
        <if test="month != null and month != ''">
            and TO_CHAR(htqs.yjsj,'YYYY-MM') =  #{month,jdbcType=VARCHAR}
        </if>
        <if test="fzr != null and fzr != ''">
            and ht.FZR = #{fzr,jdbcType=VARCHAR}
        </if>
        <if test="ssfzr != null and ssfzr != ''">
            and htqs.SSFZR = #{ssfzr,jdbcType=VARCHAR}
        </if>
        <if test="bmjl != null and bmjl != ''">
            and ht.FZRID in (select ID from users where ssbm =(select ssbm from users where xm=#{bmjl,jdbcType=VARCHAR}) )
        </if>
    </select>
    <!--按条件筛选付款合同信息-->
    <select id="selectFkHtInfo" resultMap="fkhtxx">
        select to_char(htqs.yjsj, 'YYYY-MM') as httime,htqs.SFSKWC as ifsk,htqs.JE as fkje,ht.yymc,
            htqs.HTBH as htbh,ht.fzr as fzr,ht.dqsheng as dqsheng,ht.dqshi as dqshi,
            htqs.ssfzr as ssfzr,htfl.flmc as flmc from htqs
        left join ht on ht.htbh=htqs.htbh
        left join htfl on htfl.id=ht.htfl
        where 1=1
        --负责人部门名称
        <if test="fzrbm != null and fzrbm != ''">
            and ht.fzrid in (select id from users where ssbm=#{fzrbm,jdbcType=VARCHAR})
        </if>
        --负责人名称
        <if test="fzr != null and fzr != ''">
            and ht.FZR = #{fzr,jdbcType=VARCHAR}
        </if>
        --实施负责人部门名称
        <if test="ssfzrbm != null and ssfzrbm != ''">
            and htqs.ssfzrid in (select id from users where ssbm=#{ssfzrbm,jdbcType=VARCHAR})
        </if>
        --实施负责人名称
        <if test="ssfzr != null and ssfzr != ''">
            and htqs.SSFZR = #{ssfzr,jdbcType=VARCHAR}
        </if>
        --合同分类
        <if test="htfl != null and htfl != ''">
            and htfl.flmc = #{htfl,jdbcType=VARCHAR}
        </if>
        <if test="dqsheng != null and dqsheng != ''">
            and ht.DQSHENG = #{dqsheng,jdbcType=VARCHAR}
        </if>
        <if test="dqshi != null and dqshi != ''">
            and ht.DQSHI = #{dqshi,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and startTime != ''">
            and to_char(htqs.yjsj, 'yyyy-mm-dd') &gt;= #{startTime,jdbcType=VARCHAR}
        </if>
        <if test="endTime != null and endTime != ''">
            and to_char(htqs.yjsj, 'yyyy-mm-dd') &lt;= #{endTime,jdbcType=VARCHAR}
        </if>
        order by htqs.yjsj
    </select>
    <!--按条件筛选htqs-->
    <select id="selecthtqs" resultMap="HTQS">
        select
        HTQS.ID as ID, HTQS.HTBH AS HTBH, HTQS.QS AS QS, nvl(ht.htnrhtnr,0) AS JE, HTQS.YJSJ AS YJSJ,
        HTQS.SGYQ AS SGYQ, HTQS.SFSKWC AS SFSKWC, nvl(HTQS.JE,0) AS SKJE, HTQS.CREATE_BY AS CREATE_BY, HTQS.UPDATE_BY AS UPDATE_BY,
        HTQS.CREATE_TIME AS CREATE_TIME, HTQS.UPDATE_TIME AS UPDATE_TIME,
        HTQS.SJ AS SJ, HTQS.SSFZR AS SSFZR, HTQS.SSFZRID AS SSFZRID,HTQS.BZ AS BZ,
        htfl.flmc as flmc,HT.DQSHENG AS SHENG,HT.DQSHI AS SHI,HT.FZR AS FZR,ht.yymc as yymc
        from HTQS
        left join ht on ht.htbh=htqs.htbh
        left join htfl on htfl.id=ht.htfl
        where 1=1
        --负责人部门名称
        <if test="fzrbm != null and fzrbm != ''">
            and HT.fzrid in (select id from users where ssbm=#{fzrbm,jdbcType=VARCHAR})
        </if>
        --负责人名称
        <if test="fzr != null and fzr != ''">
            and HT.FZR = #{fzr,jdbcType=VARCHAR}
        </if>
        --实施负责人部门名称
        <if test="ssfzrbm != null and ssfzrbm != ''">
            and HTQS.ssfzrid in (select id from users where ssbm=#{ssfzrbm,jdbcType=VARCHAR})
        </if>
        --实施负责人名称
        <if test="ssfzr != null and ssfzr != ''">
            and HTQS.SSFZR = #{ssfzr,jdbcType=VARCHAR}
        </if>
        --合同分类
        <if test="htfl != null and htfl != ''">
            and htfl.flmc = #{htfl,jdbcType=VARCHAR}
        </if>
        --合同编号
        <if test="htbh != null and htbh != ''">
            and htqs.htbh like concat(concat('%',#{htbh,jdbcType=VARCHAR}),'%')
        </if>
        <if test="dqsheng != null and dqsheng != ''">
            and HT.DQSHENG = #{dqsheng,jdbcType=VARCHAR}
        </if>
        <if test="dqshi != null and dqshi != ''">
            and HT.DQSHI = #{dqshi,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and startTime != ''">
            and to_char(HTQS.yjSJ, 'yyyy-mm-dd') &gt;= #{startTime,jdbcType=VARCHAR}
        </if>
        <if test="endTime != null and endTime != ''">
            and to_char(HTQS.yjSJ, 'yyyy-mm-dd') &lt;= #{endTime,jdbcType=VARCHAR}
        </if>
        order by HTQS.yjSJ
    </select>

    <!--个人报表页面table信息-->
    <select id="selectPersonalTable" resultMap="htxx">
        select
        HT.ID AS ID,HTBH, QSRQ, FZR, YYMC, HTNR, HTNRHTNR, FKZQ, NYWFJE, NYWFSJ, XXKXM, XXKLXFS,
        CWKXM, CWKLXFS, YWDJR, YWDJRLXFS, SFSKWC, SKJE, HTSFDQ, HTZT, BZ, YYJB, DQSHENG,DQSHI,
        HTFL.FLMC AS HTFL,
        HT.CREATE_BY AS CREATE_BY, HT.UPDATE_BY AS UPDATE_BY, HT.CREATE_TIME AS CREATE_TIME, HT.UPDATE_TIME AS
        UPDATE_TIME, FZRID,SSFZR,SSFZRID,HTQSRQ,HTZZRQ,YQTS,HTSYTS,HTMC,SFGB,SFJXFW,YJQYSJ,XMQKSM
        from HT
        LEFT JOIN HTFL ON HTFL.ID=HT.HTFL
        where 1=1
        --负责人部门名称
        <if test="fzrbm != null and fzrbm != ''">
            and fzrid in (select id from users where ssbm=#{fzrbm,jdbcType=VARCHAR})
        </if>
        --负责人名称
        <if test="fzr != null and fzr != ''">
            and FZR = #{fzr,jdbcType=VARCHAR}
        </if>
        --实施负责人部门名称
        <if test="ssfzrbm != null and ssfzrbm != ''">
            and ssfzrid in (select id from users where ssbm=#{ssfzrbm,jdbcType=VARCHAR})
        </if>
        --实施负责人名称
        <if test="ssfzr != null and ssfzr != ''">
            and SSFZR = #{ssfzr,jdbcType=VARCHAR}
        </if>
        --合同分类
        <if test="htfl != null and htfl != ''">
            and htfl.flmc = #{htfl,jdbcType=VARCHAR}
        </if>
        <if test="dqsheng != null and dqsheng != ''">
            and DQSHENG = #{dqsheng,jdbcType=VARCHAR}
        </if>
        <if test="dqshi != null and dqshi != ''">
            and DQSHI = #{dqshi,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and startTime != ''">
            and to_char(qsrq, 'yyyy-mm-dd') &gt;= #{startTime,jdbcType=VARCHAR}
        </if>
        <if test="endTime != null and endTime != ''">
            and to_char(qsrq, 'yyyy-mm-dd') &lt;= #{endTime,jdbcType=VARCHAR}
        </if>
        order by QSRQ
    </select>

    <select id="selectChart4" resultMap="Chart1Map">
        select httime,count(*) as count,sum(htje) as sum,round(avg(htje),2) as avg from
        (select to_char(qsrq, 'YYYY-MM') as httime,htnrhtnr as htje from ht left join htfl on ht.htfl=htfl.id where 1=1
        <if test="htfl != null and htfl != ''">
            and htfl.flmc = #{htfl,jdbcType=VARCHAR}
        </if>
        <if test="startTime!= null and startTime != ''">
            and QSRQ &gt;= to_date(#{startTime,jdbcType=VARCHAR}, 'yyyy-mm-dd')
        </if>
        <if test="endTime != null and endTime != ''">
            and QSRQ &lt;= to_date(#{endTime,jdbcType=VARCHAR}, 'yyyy-mm-dd ')
        </if>
        <if test="fzr != null and fzr != ''">
            and FZR = #{fzr,jdbcType=VARCHAR}
        </if>
        --负责人部门名称
        <if test="fzrbm != null and fzrbm != ''">
            and fzrid in (select id from users where ssbm=#{fzrbm,jdbcType=VARCHAR})
        </if>
        <if test="ssfzr != null and ssfzr != ''">
            and SSFZR = #{ssfzr,jdbcType=VARCHAR}
        </if>
        --实施负责人部门名称
        <if test="ssfzrbm != null and ssfzrbm != ''">
            and ssfzrid in (select id from users where ssbm=#{ssfzrbm,jdbcType=VARCHAR})
        </if>
        <if test="dqsheng != null and dqsheng != ''">
            and DQSHENG = #{dqsheng,jdbcType=VARCHAR}
        </if>
        <if test="dqshi != null and dqshi != ''">
            and DQSHI = #{dqshi,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and startTime != ''">
            and to_char(qsrq, 'yyyy-mm-dd') &gt;= #{startTime,jdbcType=VARCHAR}
        </if>
        <if test="endTime != null and endTime != ''">
            and to_char(qsrq, 'yyyy-mm-dd') &lt;= #{endTime,jdbcType=VARCHAR}
        </if>
        )
        group by httime order by httime
    </select>
    <select id="selectChart9" resultMap="Chart9Map">
        select count(*) as count,sum(htje) as sum,round(avg(htje),2) as avg,htfl as htfl from
        (select to_char(ht.qsrq, 'YYYY-MM') as httime,htfl.flmc as htfl,ht.htnrhtnr as htje from ht,htfl where
        ht.htfl=htfl.id
        <if test="htfl != null and htfl != ''">
            and htfl.flmc = #{htfl,jdbcType=VARCHAR}
        </if>
        <if test="startTime!= null and startTime != ''">
            and ht.QSRQ &gt;= to_date(#{startTime,jdbcType=VARCHAR}, 'yyyy-mm-dd')
        </if>
        <if test="endTime != null and endTime != ''">
            and ht.QSRQ &lt;= to_date(#{endTime,jdbcType=VARCHAR}, 'yyyy-mm-dd ')
        </if>
        <if test="fzr != null and fzr != ''">
            and ht.FZR = #{fzr,jdbcType=VARCHAR}
        </if>
        --负责人部门名称
        <if test="fzrbm != null and fzrbm != ''">
            and ht.fzrid in (select id from users where ssbm=#{fzrbm,jdbcType=VARCHAR})
        </if>
        <if test="ssfzr != null and ssfzr != ''">
            and ht.SSFZR = #{ssfzr,jdbcType=VARCHAR}
        </if>
        --实施负责人部门名称
        <if test="ssfzrbm != null and ssfzrbm != ''">
            and ht.ssfzrid in (select id from users where ssbm=#{ssfzrbm,jdbcType=VARCHAR})
        </if>
        <if test="dqsheng != null and dqsheng != ''">
            and ht.DQSHENG = #{dqsheng,jdbcType=VARCHAR}
        </if>
        <if test="dqshi != null and dqshi != ''">
            and ht.DQSHI = #{dqshi,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and startTime != ''">
            and to_char(ht.qsrq, 'yyyy-mm-dd') &gt;= #{startTime,jdbcType=VARCHAR}
        </if>
        <if test="endTime != null and endTime != ''">
            and to_char(ht.qsrq, 'yyyy-mm-dd') &lt;= #{endTime,jdbcType=VARCHAR}
        </if>
        )
        group by htfl order by htfl
    </select>
</mapper>
