<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="contract" annotation-config="true"/>

    <aop:aspectj-autoproxy/>

    <task:annotation-driven /> <!-- 定时器开关-->

    <bean id="agentExcelTask" class="contract.controller.DsqController"/>
    <task:scheduled-tasks>
        <task:scheduled ref="agentExcelTask" method="pdyq" cron="0 0 0 * * ?"/>
    </task:scheduled-tasks>

    <bean id="sendMessageTask" class="contract.controller.MessageController"/>
    <task:scheduled-tasks>
<!--        <task:scheduled ref="sendMessageTask" method="test" cron="0 0 12 * * ? *"/>-->
        <task:scheduled ref="sendMessageTask" method="test" cron="0 7 17 * * ?"/>
    </task:scheduled-tasks>

    <import resource="applicationContext-datasource.xml"/>


</beans>
